<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436161854944-c4t5fet5nt5d39mvvshq79vonunpo23k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436161854944-c4t5fet5nt5d39mvvshq79vonunpo23k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>436161854944-0og8mpkgpr0j2mpmd3qeirlokgth1akg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCChwZxBud0dlQ-83H8tgSlVl2C8aXBpAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>436161854944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blooprinted.mobile</string>
	<key>PROJECT_ID</key>
	<string>blooprinted-345de</string>
	<key>STORAGE_BUCKET</key>
	<string>blooprinted-345de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436161854944:ios:0076947454b361bb5b7f85</string>
</dict>
</plist>
